* {
	margin:0;
	padding:0;
	list-style:none;
	font:12px;
}

.notice {
	width:297px;
	height:98px;
	margin:10px;
	border:1px solid #eee;
	overflow: hidden;
}
.notice-tit {
	height:27px;
	position: relative;
	background-color: #f7f7f7;
}

.notice-tit ul {
	position: absolute;
	width:301px;
	left:-1px;
}

.notice-tit ul li {
	float:left;
	width:58px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	background-color: #f3f3f3;
	padding:0 1px;
	border-bottom:1px solid #eee;
}
.notice ul li a:link,.notice ul li a:visited {
	text-decoration: none;
	color:#000;
}
.notice ul li a:hover {
	color:#f90;
}
.notice-tit  .select {
	background: #fff;
	border-bottom-color: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0;
}

.notice-con .mod {
	margin:10px 6px;
}

.notice-con .mod ul li {
	float:left;
	width:134px;
	height:25px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	margin-left: 6px;
	margin-bottom: 4px;
}